@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

*, *::after, *::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    user-select: none;
    font-family: 'Roboto Mono';
}

:root {
    --bgcolor: #151515;
    --textcolor: white;
    --btncolor: transparent;
    --btnborder: white;
    --progresscolor: aquamarine;
    --runetext: red;
}

body {
    background-color: var(--bgcolor);
}

.shard-container {
    border: 0.2vmin solid var(--btnborder);
    color: var(--textcolor);
    border-top: none;
    border-left: none;
    padding: 1vmin;
    width: 20vmin;
    min-height: 4vmin;
    font-size: 2vmin;
    font-weight: bold;
    border-radius: 0 0 1vmin 0;
}

.shard {
    margin: 0.75vmin 0 0.75vmin 0;
}

.currency {
    text-shadow: 0 0 0.3vmin currentColor;
}

nav {
    position: fixed;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 2vmin;
    color: var(--textcolor);
    width: 10vmin;
    height: 100vh;
    z-index: 1;
}

.navBtn {
    position: relative;
    left: 2vmin;
    top: 30vmin;
    width: 15vmin;
    cursor: pointer;
    padding: 1.5vmin 2vmin 1.5vmin 2vmin;
    transition: all 150ms ease-in-out;
}

.navBtn:hover {
    background-color: var(--btncolor);
    transform: translateX(10%);
    border-bottom: 1px solid currentColor;
}

.tab {
    position: absolute;
    width: 100vw;
    top: 20vmin;
    display: grid;
    place-content: center;
    grid-template-columns: repeat(3, 30vmin);
    grid-template-rows: repeat(3, 17vmin);
    color: white;
}

.setting {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20vmin;
    height: 10vmin;
    border: 0.2vmin solid var(--btnborder);
    font-size: 1.4vmin;
    cursor: pointer;
    transition: all 150ms ease;
    color: var(--textcolor);
}

.setting:hover {
    border: 0.2vmin solid grey;
    scale: 1.05;
    background-color: var(--btncolor);
}

.gem {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    place-content: center;
    font-size: 1.4vmin;
    width: 28vmin;
    height: 15vmin;
    border: 0.2vmin solid var(--btnborder);
    border-radius: 1vmin;
    color: var(--textcolor);
    transition: all 200ms ease-in-out;
    line-height: 2vmin;
}

.gem:hover {
    border: 0.2vmin solid grey;
    scale: 1.05;
    background-color: var(--btncolor);
}

.progress {
    position: absolute;
    transform: translate(1vmin, 12.5vmin);
    background-color: var(--progresscolor);
    box-shadow: 0 0 1vmin var(--progresscolor);
    height: 1.5vmin;
    border-radius: 1vmin;
    transition: all 100ms ease;
}

.right {
    display: flex;
    height: 13vmin;
    margin-right: 1vmin;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    cursor: pointer;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 16vmin;
}

.manafy {
    position: absolute;
    font-size: 1.3vmin;
    transform: translate(11vmin);
    background-color: rgba(0, 0, 255, 0.5);
    padding: 0.5vmin;
    border-radius: 1vmin;
    cursor: pointer;
    z-index: 10;
}

.manafy:hover {
    background-color: rgba(0, 0, 255, 0.75);
}

.rune-total {
    position: absolute;
    top: -4vmin;
    font-size: 2vmin;
    width: 100vw;
    text-align: center;
    color: var(--textcolor);
}

.gem-name,
.rune-name {
    padding: 0.5vmin;
    font-weight: bold;
    padding-left: 0;
    text-align: center;
}

.rune-name {
    color: var(--runetext);
}

.rune {
    display: grid;
    place-content: center;
    border: 1px solid var(--runetext);
    height: 12vmin;
    width: 28vmin;
    border-radius: 1vmin;
    text-align: center;
    font-size: 1.4vmin;
    color: var(--textcolor);
    transition: all 150ms ease-in-out;
    line-height: 2vmin;
}



.rune-rarity {
    font-style: italic;
    transform: translateY(1vmin);
    text-shadow: 0 0 0.3vmin black;
}

.prestige-container {
    position: relative;
    top: 5vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    color: var(--textcolor);
    width: 100vw;
    font-size: 1.5vmin;
}

.runePrestige {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: 1px solid var(--btnborder);
    width: 15vmin;
    height: 6vmin;
    padding: 2vmin;
    cursor: pointer;
}

#runes-unlocked {
    position: absolute;
    text-align: center;
    width: 100vw;
    font-size: 1.3vmin;
    transform: translateY(-6vmin);
    color: var(--textcolor);
}

.chance-increase {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 10vmin;
    height: 6vmin;
    position: absolute;
    transform: translateX(13vmin);
    border: 0.2vmin solid blue;
    cursor: pointer;
    font-size: 1vmin;
}

#rune-container {
    grid-template-columns: repeat(4, 30vmin);
    grid-template-rows: repeat(4, 15vmin);
}

.rune-gotten {
    position: absolute;
    width: 100vw;
    text-align: center;
    bottom: 2vmin;
    font-size: 1.5vmin;
    transition: all 500ms ease;
}

.rune-chances {
    display: flex;
    flex-direction: column;
    position: absolute;
    font-size: 1.4vmin;
    width: 100vw;
    bottom: -15vmin;
    color: var(--textcolor);
}

.runePrestige:hover,
.chance-increase:hover {
    border-color: grey;
}

.version {
    position: absolute;
    bottom: 0;
    color: white;
}